.header {
  background-color: $color-primary;
  color: $color-white;
  line-height: $touch-size;
  height: $touch-size;

  a, a:link {
    color: inherit;
    text-decoration: none;
  }
}

.header__logo {
  font-family: $font-logo;
  font-size: $s-size;

  &-text {
    margin: 0;
  }
}
