// Colors
$color-primary: #005596;
$color-primary-font: white;
$color-secondary: #072d49;
$color-secondary-font: #3275a7;
$color-font: #8a8a8a;
$color-black: #000313;
$color-white: #f8f8f8;
$color-yellow: #ffeb3b;

// Font
$font-muli: 'Muli', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-roboto: 'Roboto', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-size-large: 7rem;
$font-size-medium: 3rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 12px;
$m-size: 18px;
$l-size: 32px;
$xl-size: 48px;
$desktop: 45rem;
