// Colors
$color-primary: #182D3D;
$color-primary-font: white;
$color-secondary: #37668A;
$color-secondary-font: #3275a7;
$color-font-light: #a1a1a1;
$color-black: #000313;
$color-white: #f7f7f7;
$color-idea: #D4D656;
$color-important: #963F3C;
$color-default: $color-primary;
$color-question: #565723;
$color-todo: $color-secondary-font;
$color-online: #d0ff8a;
$color-offline: #ffe28a;

$color-body: #f8f8f8;
$color-font: #3b3b3b;

// Font
$font-logo: 'Oleo Script', cursive;
$font-body: 'Open Sans', sans-serif;
$font-size-large: 7rem;
$font-size-medium: 3rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.2rem;
$desktop: 45rem;
$touch-size: 5rem;

$rounded: .5rem;
