* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-white;
  color: $color-font;
  font-family: $font-body;
  font-size: $m-size;
  line-height: 1.6;
  overflow-x: hidden;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}

.logo-font {
  font-family: $font-logo;
}

.authenticated {
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100vw;
}

.unauthenticated {
  background-color: $color-primary;
  color: $color-white;
  min-height: 100vh;
  width: 100vw;
}

.heading {
  color: $color-white;
  text-shadow: 3px 3px 3px rgba(0,0,0,.5);
}