* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-body;
  color: $color-font;
  font-family: $font-body;
  font-size: $m-size;
  line-height: 1.6;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: default;
  }
}

